pandas
scrapy
pydantic_ai
pydantic
python-dotenv
beautifulsoup4
requests
scrapy-playwright
serpapi
langchain
langchain_community
langchain-huggingface
langchain_chroma
langchain_text_splitters
langchain_groq
reportlab
jq
langgraph
streamlit
streamlit-chat
uvicorn
fastapi
pypdf
pytesseract 
pillow
pdf2image
langchain-google-genai